
@{
    ViewBag.Title = "Acceuil";
}

<h2 class="titre">Biblioth&egrave;que Lavoie</h2>
<h4 class="titre">Une biblio qui vous guidera vers le bon chemin</h4>

<p> 
    Le centre communautaire de St-Ishrinka est la pour le d&eacute;veloppement de vos connaissances. 
    Si vous voulez emprunter un livre de tout genre, vous devez devenir membre du centre. 
    Pour ce faire, vous devez venir en personne cr&eacute;er votre abonnement.
    Les membres peuvent emprunter jusqu&apos;&agrave; <u>trois</u> livres pour une dur&eacute;e maximale de <u>7</u> jours.
    Les pr&ecirc;ts sont <u>gratuits</u>, mais s&apos;il y a retard, des frais seront engendr&eacute;.
</p>





